


params {
    input = "test_input/*.fastq.gz"
    output = "results/"
    tosenddir = "tosend/"
    tar_prefix = null
    project = null
}


process {
    withName: CREATE_ARCHIVE {
        container = "docker.io/kobelavaerts/wrapdemux:1.1"
        cpus = 2
        memory = '2 GB'
    }

    withName: MERGE_FASTQS {
        container = "python:3.12.12"
        cpus = 1
        maxForks = 56
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

workDir = "/mnt/ssd_storage/nextflow/work"

cleanup = true